html
body {
    height: 100%;
    font: size 1rem;
}
.i{
   
}



.gradient {background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 4%, rgba(92,92,126,1) 37%, rgba(0,212,255,1) 100%);

}
.page-header{
    margin-top: 4rem;
    font-size: 1.25rem;;
    color:seagreen;
    font-style: oblique;
}

.feature{
   color: snow; 
}
.feature ul{
    padding-left: 2rem;
    list-style-type: none;
}
.feature ul li{
    padding-left: 2rem;
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
.icon{
    color: snow;
    height: 5rem;
    width: 5rem;
    font: 1.75rem;
}
.icon{
    color: snow;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.gallery{
    background-color: slategrey;
}
.gallery imhg{
    border-radius: 5%;
}
.services {
    color: springgreen;
}
.footer{
color: steelblue;
font-size: 1rem;
margin: 0;
padding:1rem;
}
a{
    color: transparent;

}